@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
  /* background-color: green; */
  border: solid yellow;
    /* width: 100%; */
    /* max-width: 400px; */
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Updated for a cleaner look */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly darker shadow */
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #00796b; /* Adjusted color for better contrast */
    font-size: 26px; /* Slightly larger for better visibility */
    margin-bottom: 20px;
    font-weight: 400;
  font-family:"Poly",serif;
}
  
  
  .bold {
    font-weight: 600;
    font-family:"Poppins", sans-serif;
    font-style: normal;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #00796b;
  }
  
  .forgot-password {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #009688;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .checkbox-container label {
    font-size: 14px;
    color: #666;
  }
 
  .login-button {
    background-color: #009688;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #00796b;
  }
  
  .alternative-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    color: #777;
    margin-bottom: 20px;
    font-size: 14px;
  }


  
  .create-account-link {
    font-size: 14px;
    color: #009688;
    margin-top: 10px;
  }
  
  .create-account-link a {
    color: #009688;
    text-decoration: none;
  }
  
  .create-account-link a:hover {
    text-decoration: underline;
  }
  